/* Padding for shinyMobile inputs */
.padded-input {
        padding: 10px;
      }

/* Image style for home page images */
.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Padding for all accordion 
*/
/* General accordion styling */
.accordion-item-content {
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden; /* Ensure content is properly hidden when closed */
}