/* Padding for shinyMobile inputs */
.padded-input {
        padding: 10px;
      }
      
/* Add padding to f7AccordionItem content */
.accordion-item-content {
  padding-left: 10px;
  padding-right: 10px;
}

/* Image style for home page images */
.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .centered-img {
    width: 80%; /* Change width for tablets and small screens */
  }
}

/* Media query for very small screens */
@media (max-width: 480px) {
  .centered-img {
    width: 100%; /* Change width for phones */
  }
}
